:root {
	--blue: #1fa2f1;
	--hoverBg: #d4edff;
	--lightGray: rgb(230, 236, 240);
	--spacing: 15px;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: inherit;
	text-decoration: none;
}

h1 {
	font-size: 19px;
	font-weight: 800;
	margin: 0;
}

.wrapper .row {
	margin: 0px;
}

nav {
	display: flex;
	flex-direction: column;
	align-items: end;
	height: 100%;
	/* justify-content: center; */
}

nav a {
	display: block;
	padding: 10px;
	font-size: 30px;
	width: 55px;
	height: 55px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #212529;
}

nav a.blue {
	color: var(--blue);
}

nav a:hover {
	background-color: var(--hoverBg);
	color: var(--blue);
	border-radius: 50%;
}

.mainSectionContainer {
	padding: 0 -1px;
	border-left: 1px solid var(--lightGray);
	border-right: 1px solid var(--lightGray);
	display: flex;
	flex-direction: column;
}

.titleContainer {
	height: 53px;
	padding: 0 var(--spacing);
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--lightGray);
	flex-shrink: 0;
}

.titleContainer h1 {
	flex: 1;
}

.tweetFormContainer {
	display: flex;
	padding: var(--spacing);
	border-bottom: 10px solid rgb(230, 236, 240);
	flex-shrink: 0;
}

.userImageContainer {
	width: 50px;
	height: 50px;
}

.userImageContainer img {
	width: 100%;
	border-radius: 50%;
	background-color: #fff;
}

.textAreaContainer {
	flex: 1;
	padding-left: var(--spacing);
}

#TweettextArea {
	width: 100%;
	border: none;
	resize: none;
	font-size: 19px;
}
